@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Vazirmatn FD, sans-serif;
	}
	html[dir='rtl'] * :not(input) {
		direction: rtl;
	}
	html[dir='ltr'] * :not(input) {
		direction: ltr;
	}
	input {
		@apply border-2 border-blue-300 focus:border-blue-500 focus:outline-none rounded-md p-2;
	}
	select {
		@apply border-2 bg-gray-50 border-blue-300 focus:border-blue-500 focus:outline-none rounded-md p-2 cursor-pointer;
	}
	.container {
		@apply px-5;
	}
}

@layer utilities {
	.is-ltr,
	.is-ltr * {
		direction: ltr !important;
	}
	.is-rtl,
	.is-rtl * {
		direction: rtl !important;
	}
}

@layer components {
	.btn {
		@apply rounded-md px-3.5 py-1.5 text-base font-semibold  text-white shadow-sm  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
	}
	.btn-icon {
		@apply flex items-center justify-between gap-1;
	}
	.btn.btn-xs {
		@apply px-2.5 py-1.5 text-xs;
	}
	.btn.btn-sm {
		@apply px-3 py-2 text-sm leading-4;
	}
	.btn.btn-md {
		@apply px-3.5 py-1.5 text-base;
	}
	.btn.btn-lg {
		@apply px-4 py-2 text-base;
	}
	.btn.btn-xl {
		@apply px-6 py-3 text-base;
	}

	.btn.btn-secondary {
		@apply bg-gray-50/10 text-white hover:bg-gray-50/20;
	}

	.btn.btn-primary {
		@apply bg-blue-500 hover:bg-blue-400 focus-visible:outline-blue-400;
	}
	.btn.btn-primary.btn-light {
		@apply bg-blue-50 text-blue-700 hover:bg-blue-100 focus:ring-blue-500;
	}
	.btn.btn-primary.btn-outlined {
		@apply border-2 border-blue-400 text-blue-50 bg-transparent hover:bg-blue-500 hover:text-white transition-colors duration-200;
	}
	.btn.btn-danger {
		@apply bg-rose-500 hover:bg-rose-400 focus-visible:outline-rose-400;
	}
	.btn.btn-danger.btn-light {
		@apply bg-rose-50 text-rose-700 hover:bg-rose-200 focus:ring-rose-500;
	}
	.btn.btn-danger.btn-outlined {
		@apply border-2 border-rose-400 text-rose-50 bg-transparent hover:bg-rose-500 hover:text-white transition-colors duration-200;
	}
	.btn.btn-success {
		@apply bg-emerald-500 hover:bg-emerald-400 focus-visible:outline-emerald-400;
	}
	.btn.btn-success.btn-light {
		@apply bg-emerald-50 text-emerald-700 hover:bg-emerald-200 focus:ring-emerald-500;
	}
	.btn.btn-success.btn-outlined {
		@apply border-2 border-emerald-400 text-emerald-50 bg-transparent hover:bg-emerald-500 hover:text-white transition-colors duration-200;
	}

	.btns > .btn:first-child {
		@apply rounded-l-none;
	}
	.btns > .btn:last-child {
		@apply rounded-r-none;
	}
}
